<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <h1><%= title %></h1>
  <p>EJS Welcome to <%= title %></p>
</body>
</html>
